<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card p-0" routerLink="/dogs">
                <div class="card-image"> <img src="https://images.unsplash.com/photo-1604032138113-75ed397939a7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1847&q=80" alt=""> </div>
                <div class="card-content d-flex flex-column align-items-center">
                    <h2 class="pt-2">Kutyák</h2>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card p-0" routerLink="/cats">
                <div class="card-image"> <img src="https://images.unsplash.com/photo-1547955922-85912e223015?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2134&q=80" alt=""> </div>
                <div class="card-content d-flex flex-column align-items-center">
                    <h2 class="pt-2">Macskák</h2>
                </div>
            </div>
        </div>
    </div>
</div>