.login,
.image {
    min-height: 100vh
}
.form{
    margin-left: 20%
}
.bg-image {
    background-image: url('https://images.unsplash.com/photo-1547661990-03329d1b6de3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80');
    background-size: cover;
    background-position: center center
}

small{
    color: red;
    display: inline-block
}

@media only screen and (max-width: 767px) {
    .login{
        background-image: url('https://images.unsplash.com/photo-1547661990-03329d1b6de3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80');
        background-size: cover;
        background-position: center center;
        color: white;
    }
    .form{
        margin-left: 0%
    }
    .reg-div{
        background-color: white;
        width: 20%;
        border-radius: 20px;
        height: 35px;
        padding-left: 1%;
        padding-top: 1%;
    }
}
